pre {
	font-size: smaller;
	color: var(--mat-mdc-foreground-text);
	background-color: var(--mat-mdc-background);
	padding: 20px;
	text-wrap: stable;
	border-radius: 3px;
	border: 1px solid #eee;
}

  .selected-head {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;

  button {
    margin-right: 0.5rem;
  }
}
.entity-title {
  margin: 0;
  line-height: 20px;
}

.entity-subtitle {
  margin: 0;
  font-size: small;
  font-weight: normal;
  color: #999;
}


.tag-author {
  background-color: #e3f2fd; /* bleu clair */
  color: #0d47a1;
}

.tag-organization {
  background-color: #f1f8e9; /* vert clair */
  color: #33691e;
}

.tag-subject {
  background-color: #fff3e0; /* orange clair */
  color: #e65100;
}

.tag-location {
  background-color: #fce4ec; /* rose clair */
  color: #880e4f;
}

.tag-genre {
  background-color: #ede7f6; /* violet clair */
  color: #4a148c;
}

.tag-default {
  background-color: #f5f5f5;
  color: #424242;
}
