<div class="marc">
	@for (entry of marcFields; track entry.tag) {
	<!--pour les couleurs [style.background-color]="getColorForTag(entry.tag)"-->
	<div class="marc-row">
		<div class="marc-column marc-column-actions">
			@if(getIdrefAllowedTags().includes(entry.tag)){

			<button mat-icon-button color="primary" (click)="pushToInput(entry)">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button color="primary" (click)="deleteField(entry)">
				<mat-icon>delete</mat-icon>
			</button>

			}
		</div>
		<div class="marc-column">
			<span class="tag">{{ entry.tag }}</span>
		</div>
		<div class="marc-column">
			<span class="ind">{{ entry.ind1 }}</span>
		</div>
		<div class="marc-column">
			<span class="ind">{{ entry.ind2 }}</span>
		</div>
		<div class="marc-column">
			@for (valueEntry of entry.value; track valueEntry) {
			<div class="marc-column-value">
				@if (valueEntry.code && valueEntry.code !== '') {
				<span class="subfield">$${{ valueEntry.code }}</span>
				}
				<span class="value">{{ valueEntry.value }} </span>
			</div>
			}
		</div>
	</div>
	}
</div>