.marc {
  border-collapse: collapse;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(0, 0, 0);

  .marc-row {
    // height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .marc-column {
    display: flex;
    flex-direction: column;
    word-break: break-all;
    padding-left: 8px;


    .marc-column-value {
      gap: 8px;
      display: flex;
      flex-direction: row;

      >span:first-child {
        white-space: nowrap;
      }

    }
  }


  .marc-column-actions {
    flex-direction: row;
    /* Icônes côte à côte */
    align-items: center;
    gap: 4px;
    /* Petit espace entre les icônes */
    padding-left: 0;
    /* Optionnel : pour coller au bord */
    
    width: 60px;          // à ajuster selon la taille de tes icônes
    flex: 0 0 60px;

  }


  .marc-row:nth-child(odd) {
    background: rgb(243, 245, 244);
  }

  
  .marc-row.marc-row--active {
    background-color: #e3f2fd;   // bleu léger type Material
    // optionnel : bordure ou autre
    // border-left: 4px solid #1976d2;
  }


  .tag {
    color: rgb(128, 0, 128);
    width: 30px;
    padding-left: 3px;
  }

  .ind {
    color: rgb(0, 128, 0);
    width: 1em;
  }

  .subfield {
    color: rgb(0, 0, 255);
    // width: 3em;
  }

  .value {
    width: fit-content;
  }
}