  <app-idref-search></app-idref-search>

  <div class="selected-head">
    <div class="entity-title">
      <h1 class="entity-title">{{ entity()?.title }}</h1>
      <span class="entity-subtitle">{{ entity()?.mms_id }}</span>
	  <button color="primary" (click)="updateAllowedTags()">
        {{ 'main.detailsButtonLabel' | translate }}
      </button>
    </div>

    <div class="eca-actions">
    </div>
  </div>

  <div class="bar"></div>
<h2>{{"biblioRecord.title" | translate}}</h2>
<div class="marc">
	@for (entry of marcFields; track $index) {
	<!--pour les couleurs [style.background-color]="getColorForTag(entry.tag)"-->
	<div class="marc-row" [class.marc-row--active]="entry === selectedEntry">
		<div class="marc-column marc-column-actions">
			@if(getIdrefAllowedTags().includes(entry.tag)){

			<button mat-icon-button color="primary" (click)="pushToInput(entry); searchIdref(entry)">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button color="primary" (click)="deleteField(entry)">
				<mat-icon>delete</mat-icon>
			</button>

			}
		</div>
		<div class="marc-column">
			<span class="tag">{{ entry.tag }}</span>
		</div>
		<div class="marc-column">
			<span class="ind">{{ entry.ind1 }}</span>
		</div>
		<div class="marc-column">
			<span class="ind">{{ entry.ind2 }}</span>
		</div>
		<div class="marc-column">
			@for (valueEntry of entry.value; track $index) {
			<div class="marc-column-value">
				@if (valueEntry.code && valueEntry.code !== '') {
				<span class="subfield">$${{ valueEntry.code }}</span>
				}
				<span class="value">{{ valueEntry.value }} </span>
			</div>
			}
		</div>
	</div>
	}
</div>