<div class="to902-box">
	<div class="to902-row">
		<h3 class="title">{{ ('search.mode902.' + searchMode902()) | translate }}</h3>
		<button class="to902-close-button" mat-icon-button color="primary" (click)="closeTo902()">
			<mat-icon>close</mat-icon>
		</button>
	</div>
	<form [formGroup]="searchForm" class="search-form">
		<div class="to902-row input-section">
			<input class="to902-tag tag" [placeholder]="'search.form.tagPlaceholder' | translate" formControlName="tag" />
			<input class="to902-ind ind" formControlName="ind1" />
			<input class="to902-ind ind" formControlName="ind2" />
			<span class="to902-label subfield">$$a:</span>
			<select class="to902-select" formControlName="purpose">
				@for (option of to902Purpose; track option) {
					<option [value]="option">{{ option }}</option>
				}
			</select>
			<span class="to902-label subfield">$$5:</span>
			<input class="to902-userSignature" formControlName="userSignature" />
		</div>
		<div class="to902-row to902-subfield-row input-section">
			<span class="to902-label subfield">$$b:</span>
			<textarea
				class="to902-textarea"
				[placeholder]="'search.form.subfieldsPlaceholder' | translate"
				formControlName="subfields"
				rows="2"
			></textarea>
		</div>
		<div class="button-section">
			@if (this.searchMode902() === 'add902') {
				<button color="primary" (click)="createFieldIfNotFound()">
					{{ 'search.addToRecord' | translate }}
				</button>
			} @else if (this.searchMode902() === 'update902') {
				<button color="primary" (click)="updateFieldIfFound()">
					{{ 'search.updateRecord' | translate }}
				</button>
			}
		</div>
	</form>
</div>
