@use "../search.shared";

.to902-box {
    position: relative;
    padding: 10px;
    background-color: #f3e5f5;
    border-radius: 4px;
    border-left: 4px solid #ab47bc;
}

.to902-box h3 {
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 600;
}

.to902-box p {
    color: #666;
    font-size: 14px;
}

.to902-row {
    display: flex;
    align-items: flex-start;
}

.to902-tag {
    margin-right: 5px;
    flex: 0 0 auto;
    width: 3ch;
}

.to902-ind {
    flex: 0 0 auto;
    width: 1ch;
}

.to902-label {
    color: black;;
    margin-left: 2px;
    margin-right: 2px;
    flex: 0 0 auto;
}

.to902-select {
    flex: 1 1 auto;
}

.to902-textarea {
    flex: 1 1 auto;
}

.to902-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.button-section {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}

.button-section button {
    flex: 0 0 auto;
}

input:disabled {
    background-color: #f0f0f0; /* Fond gris clair */
    color: #808080;             /* Texte gris */
    border: 1px solid #ccc;     /* Bordure */
}

.tag {
    color: rgb(128, 0, 128);
    width: 30px;
    padding-left: 3px;
  }

  .ind {
    color: rgb(0, 128, 0);
    width: 1em;
  }

  .subfield {
    color: rgb(0, 0, 255);
    // width: 3em;
  }