.marc {
  border-collapse: collapse;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(0, 0, 0);

  .marc-row {
    // height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 120ms ease-in-out;
  }

  .marc-column {
    display: flex;
    flex-direction: column;
    word-break: break-all;
    padding-left: 8px;


    .marc-column-value {
      gap: 8px;
      display: flex;
      flex-direction: row;

      >span:first-child {
        white-space: nowrap;
      }

    }
  }


  .marc-column-actions {
    flex-direction: row;
    /* Icônes côte à côte */
    align-items: center;
    gap: 4px;
    /* Petit espace entre les icônes */
    padding-left: 0;
    /* Optionnel : pour coller au bord */
    
    width: 60px;          // à ajuster selon la taille de tes icônes
    flex: 0 0 60px;

  }


  .marc-row:nth-child(odd) {
    background: rgb(233, 237, 236);
  }

  .marc-row:nth-child(even) {
    background: rgb(249, 251, 251);
  }

  .marc-row.marc-row--status-missing:nth-child(odd) {
    background-color: #ffe899;
  }

  .marc-row.marc-row--status-missing:nth-child(even) {
    background-color: #fff5c7;
  }

  .marc-row.marc-row--status-idref:nth-child(odd) {
    background-color: #c7ebc7;
  }

  .marc-row.marc-row--status-idref:nth-child(even) {
    background-color: #dcf4dc;
  }

  .marc-row.marc-row--status-rero:nth-child(odd) {
    background-color: #eca665;
    cursor: pointer;
  }

  .marc-row.marc-row--status-rero:nth-child(even) {
    background-color: #f3bd8a;
    cursor: pointer;
  }

  .marc-row.marc-row--status-other:nth-child(odd) {
    background-color: #cfcfcf;
  }

  .marc-row.marc-row--status-other:nth-child(even) {
    background-color: #e3e3e3;
  }

  .marc-row:not(.marc-row--status-missing):not(.marc-row--status-idref):not(.marc-row--status-rero):not(.marc-row--status-other):hover {
      background-color: #dce8ef;
      cursor: pointer;
    }

  .marc-row.marc-row--status-missing:nth-child(odd):hover {
    background-color: #ffd86a;
    cursor: pointer;
  }

  .marc-row.marc-row--status-missing:nth-child(even):hover {
    background-color: #ffe79d;
    cursor: pointer;
  }

  .marc-row.marc-row--status-idref:nth-child(odd):hover {
    background-color: #aee0ae;
    cursor: pointer;
  }

  .marc-row.marc-row--status-idref:nth-child(even):hover {
    background-color: #c6eac6;
    cursor: pointer;
  }

  .marc-row.marc-row--status-rero:nth-child(odd):hover {
    background-color: #ec9b4f;
    cursor: pointer;
  }

  .marc-row.marc-row--status-rero:nth-child(even):hover {
    background-color: #f1b277;
    cursor: pointer;
  }

  .marc-row.marc-row--status-other:nth-child(odd):hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  .marc-row.marc-row--status-other:nth-child(even):hover {
    background-color: #cdcdcd;
    cursor: pointer;
  }

  
  .marc-row.marc-row--active {
    background-color: #eaf2f6;;
    border-left: 4px solid #0e7bba ;
  }


  .tag {
    color: rgb(128, 0, 128);
    width: 30px;
    padding-left: 3px;
  }

  .ind {
    color: rgb(0, 128, 0);
    width: 1em;
  }

  .subfield {
    color: rgb(0, 0, 255);
    // width: 3em;
  }

  .value {
    width: fit-content;
  }
}