  <app-idref-search [entity]="selectedEntity()"></app-idref-search>

  <div class="selected-head">
    <div class="entity-title">
      <h1 class="entity-title">{{ selectedEntity()?.title }}</h1>
      <span class="entity-subtitle">{{ selectedEntity()?.mms_id }}</span>
	  <button color="primary" (click)="showDetails()">
        {{ 'main.detailsButtonLabel' | translate }}
      </button>
    </div>

    <div class="eca-actions">
    </div>
  </div>
  
  <div class="bar"></div>
<h2>{{"biblioRecord.title" | translate}}</h2>
<div class="marc">
	@for (bibRecordField of BibRecordFields(); track $index) {
	<div class="marc-row" [class.marc-row--active]="bibRecordField === selectedBibRecordField">
		<div class="marc-column marc-column-actions">
			@if(getIdrefAllowedTags().includes(bibRecordField.tag)){

			<button mat-icon-button color="primary" (click)="saveCurrentEntry(bibRecordField);pushToInput(bibRecordField); searchIdref(bibRecordField)" >
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button color="primary" (click)="deleteField(bibRecordField)">
				<mat-icon>delete</mat-icon>
			</button>
			}
		</div>
		<div class="marc-column">
			<span class="tag">{{ bibRecordField.tag }}</span>
		</div>
		<div class="marc-column">
			<span class="ind">{{ bibRecordField.ind1 }}</span>
		</div>
		<div class="marc-column">
			<span class="ind">{{ bibRecordField.ind2 }}</span>
		</div>
		<div class="marc-column">
			@for (valueEntry of bibRecordField.subfields; track $index) {
			<div class="marc-column-value">
				@if (valueEntry.code && valueEntry.code !== '') {
				<span class="subfield">$${{ valueEntry.code }}</span>
				}
				<span class="value">{{ valueEntry.value }} </span>
			</div>
			}
		</div>
	</div>
	}
</div>