.entities-list {
  // Cible les éléments Angular Material (MDC).
  .mat-mdc-list-item {
    height: 30px;
    border-radius: 0%;
    padding-bottom: 0%;

    // Alterne la couleur de fond (odd/even).
    &:nth-child(odd) {
      background-color: #ffffff;
    }

    &:nth-child(even) {
      background-color: #f5f5f5;
    }

    // État au survol.
    &:hover {
      background-color: #eaf2f6;;
      cursor: pointer;
    }

    // Contenu interne : alignement horizontal et vertical.
    .mdc-list-item__content {
      display: flex;
      align-items: center;
    }

    // Icône.
    mat-icon {
      margin-right: 8px;
      font-size: 25px;
      width: 25px;
      height: 25px;
      color: #4164a4;
    }

    // Identifiant mis en avant.
    .entity-id {
      font-weight: 600;
      color: #4164a4;
      margin-right: 4px;
      white-space: nowrap;
      min-width: 80px; // Optionnel : alignement vertical de tous les identifiants.
    }

    // Description tronquée proprement.
    .entity-description {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}