<div class="eca-actions">
	<form [formGroup]="searchForm">
		<input class="tagInput" placeholder="tag" formControlName="tag" />

		<input class="indInput" formControlName="ind1" />

		<input class="indInput" formControlName="ind2" />

		<input placeholder="subfields" formControlName="subfields">

		<mat-icon color="primary" fontIcon="search" (click)="onSearch()"></mat-icon>

		<button color="primary" (click)="addrecord()">
			{{ 'idrefSearch.addToRecord' | translate }}
		</button>

		<button color="primary" (click)="to902()">
			{{ 'idrefSearch.to902' | translate }}
		</button>
		<button color="primary" (click)="clear()">
			{{ 'idrefSearch.clear' | translate }}
		</button>

	</form>
</div>