<!--
<h3>Choisir un type de notice :</h3>

<mat-form-field>
	<mat-label>-- Sélectionnez un champ --</mat-label>
	<mat-select #selectBoxRecord (change)="recordTypeSelected = selectBoxRecord.value">
		@for (recordKey of RecordTypeKeys | keyvalue; track RecordTypeKeys) {
			<mat-option [value]="recordKey.key">{{ recordKey.value }}</mat-option>
		}
	</mat-select>
</mat-form-field>

<h3>Choisir un index :</h3>
<mat-form-field>
	<mat-label>-- Sélectionnez un champ --</mat-label>
	<mat-select #selectBoxIndex (change)="onSelectKey(selectBoxIndex.value)">
		@for (indexKey of IdrefSolrIndexKeys; track indexKey) {
			<mat-option [value]="indexKey">{{ indexKey }}</mat-option>
		}
	</mat-select>
</mat-form-field>
@for (control of searchForm.controls | keyvalue; track control.key) {
	<mat-form-field [formGroup]="searchForm">
		<mat-label>{{ control.key }} :</mat-label>
		<input
			matInput
			[id]="control.key"
			[formControlName]="control.key"
			type="text"
		/>
	</mat-form-field>
}
	-->
<form [formGroup]="searchForm">
	<input class="tagInput" placeholder="tag" formControlName="tag" />

	<input class="indInput" formControlName="ind1" />

	<input class="indInput" formControlName="ind2" />

	<input placeholder="subfields" formControlName="subfields">

	<mat-icon color="primary" fontIcon="search" (click)="onSearch()"></mat-icon>

	<mat-icon color="primary" fontIcon="add_circle"></mat-icon>
</form>
