<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->


<div class="dropdown-container">
  <h3>Choisir un index :</h3>
  <select #selectBox  (change)="onSelectKey(selectBox.value)">
    <option value="" disabled selected>-- Sélectionnez un champ --</option>
	@for(indexKey of IdrefSolrIndexKeys; track indexKey){
		<option [value]="indexKey">{{ indexKey }}</option>
	}
  </select>
</div>
@for(control of searchForm.controls | keyvalue; track control.key){
	<div [formGroup]="searchForm">
    <label [for]="control.key">{{ control.key }} :</label>
    <input [id]="control.key" [formControlName]="control.key" type="text" />
	</div>
}
@if(searchForm.touched){
	<button (click)="onSubmit()">Valider</button>
}


<!--
<div class="idref-search">
	<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
		<label>Nom :</label>
		<input formControlName="name" type="text" />

		<label>Prénom :</label>
		<input formControlName="firstName" type="text" />

		<label>ID IdRef :</label>
		<input formControlName="idrefId" type="text" />

		<button type="submit" [disabled]="loading">Rechercher</button>
	</form>
	@if (loading) {
		<div>Chargement...</div>
	}
	@if (results.length > 0) {
		<div>
			<h3>Résultats :</h3>
			<ul>
				@for (r of results; track results) {
					<li>{{ r.name }} ({{ r.idref }})</li>
				}
			</ul>
		</div>
	}
</div>
-->