<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<h3>Choisir un type de notice :</h3>
<mat-form-field>
	<mat-label>-- Sélectionnez un champ --</mat-label>
	<mat-select
		#selectBoxRecord
		(change)="recordTypeSelected = selectBoxRecord.value"
	>
		@for (recordKey of RecordTypeKeys | keyvalue; track RecordTypeKeys) {
			<mat-option [value]="recordKey.key">{{ recordKey.value }}</mat-option>
		}
	</mat-select>
</mat-form-field>

<h3>Choisir un index :</h3>
<mat-form-field>
	<mat-label>-- Sélectionnez un champ --</mat-label>
	<mat-select #selectBoxIndex (change)="onSelectKey(selectBoxIndex.value)">
		@for (indexKey of IdrefSolrIndexKeys; track indexKey) {
			<mat-option [value]="indexKey">{{ indexKey }}</mat-option>
		}
	</mat-select>
</mat-form-field>
@for (control of searchForm.controls | keyvalue; track control.key) {
	<mat-form-field [formGroup]="searchForm">
		<mat-label>{{ control.key }} :</mat-label>
		<input
			matInput
			[id]="control.key"
			[formControlName]="control.key"
			type="text"
		/>
	</mat-form-field>
}
<button mat-flat-button color="secondary" (click)="onSubmit()">Valider</button>
