<div buttons class="settings-buttons">
	<button mat-stroked-button type="button" [routerLink]="['/']">{{ 'settings.return' | translate }}</button>
</div>

@if (form) {
	<div class="settings-container">
		<form [formGroup]="form" class="settings-form">
			<section class="settings-section">
				<h2 class="settings-title">{{ 'settings.generalTitle' | translate }}</h2>

				<div class="settings-fields-row">
					<!-- pageSize -->
					<div class="settings-field">
						<label for="pageSize">{{ 'settings.pageSize' | translate }}</label>
						<input id="pageSize" type="number" formControlName="pageSize" step="5" />
					</div>
					<!-- searchRowNumber -->
					<div class="settings-field">
						<label for="searchRowNumber">{{ 'settings.searchRowNumber' | translate }}</label>
						<input
							id="searchRowNumber"
							type="number"
							formControlName="searchRowNumber"
							step="10"
						/>
					</div>
				</div>
				<!-- proxyUrl -->
				<div class="settings-field">
					<label for="proxyUrl">{{ 'settings.proxyUrl' | translate }}</label>
					<input id="proxyUrl" type="text" formControlName="proxyUrl" />
				</div>

				<!-- userSignature -->
				<div class="settings-field">
					<label for="userSignature">{{ 'settings.userSignature' | translate }}</label>
					<input id="userSignature" type="text" formControlName="userSignature" />
				</div>
			</section>
		</form>
	</div>
}
<div buttons class="settings-buttons">
	<button
		mat-flat-button
		type="button"
		color="primary"
		(click)="save()"
		[disabled]="!form || saving"
	>
		{{ 'settings.save' | translate }}
	</button>
</div>
