<div class="main-search-form" [ngClass]="'search-mode-' + searchMode()">
	<div class="mode-label">{{ searchMode() }}</div>
	<form [formGroup]="searchForm" class="search-form">
		<div class="input-section">
			<input class="tagInput" placeholder="tag" formControlName="tag" />

			<input class="indInput" formControlName="ind1" />

			<input class="indInput" formControlName="ind2" />

			<textarea class="subfieldsInput" placeholder="subfields" formControlName="subfields" rows="2"></textarea>

			<mat-icon color="primary" fontIcon="search" (click)="onSearch()" class="search-icon"></mat-icon>
		</div>

		<div class="button-section">
			@if(this.searchMode() === 'addField' ) {
				<button color="primary" (click)="createFieldIfNotFound()">
					{{ 'idrefSearch.addToRecord' | translate }}
				</button>
			}
			@else if(this.searchMode() === 'update') {
				<button color="primary" (click)="updateFieldIfFound()">
					{{ 'idrefSearch.updateRecord' | translate }}
				</button>
			}
			@if (!this.isTo902FormVisible()) {
				<button color="primary" (click)="showTo902()">
				{{ 'idrefSearch.showTo902' | translate }}
			</button>
			}
			<button color="primary" (click)="clear()">
				{{ 'idrefSearch.clear' | translate }}
			</button>
		</div>
	</form>
</div>
