<div class="main-search-form" [ngClass]="'search-mode-' + searchMode()">
	<h3 class="title">{{ ('search.mode.' + searchMode()) | translate }}</h3>
	<form [formGroup]="searchForm" class="search-form">
		<div class="input-section">
			<input class="tagInput" [placeholder]="'search.form.tagPlaceholder' | translate" formControlName="tag" (keydown.enter)="$event.preventDefault()"/>

			<input class="indInput" formControlName="ind1" (keydown.enter)="$event.preventDefault()"/>

			<input class="indInput" formControlName="ind2" (keydown.enter)="$event.preventDefault()" />

			<div class="subfields-wrapper">
				<div class="subfields-highlight" [innerHTML]="highlightedSubfields"></div>
				<textarea
					#subfieldsTextarea
					class="subfieldsInput"
					[placeholder]="'search.form.subfieldsPlaceholder' | translate"
					formControlName="subfields"
					rows="1"
					(input)="onSubfieldsInput($event)"
					(keydown.enter)="$event.preventDefault(); onSearch()"
				></textarea>
			</div>

			<mat-icon color="primary" fontIcon="search" (click)="onSearch()" class="search-icon"></mat-icon>
		</div>

		<div class="button-section">
			@if(this.searchMode() === 'addField' ) {
				<button color="primary" (click)="createFieldIfNotFound()">
					{{ 'search.addToRecord' | translate }}
				</button>
			}
			@else if(this.searchMode() === 'update') {
				<button color="primary" (click)="updateFieldIfFound()">
					{{ 'search.updateRecord' | translate }}
				</button>
			}
			@if (!this.isTo902FormVisible()) {
				<button color="primary" (click)="showTo902()">
				{{ 'search.showTo902' | translate }}
			</button>
			}
			<button color="primary" (click)="clear()">
				{{ 'search.clear' | translate }}
			</button>
		</div>
	</form>
</div>
