
	<div class="to902-container">
		<div class="to902-box">
			<h3>{{ searchMode902() }}</h3>
			<form [formGroup]="searchForm" class="search-form">
				<div class="input-section">
					<input class="tagInput" placeholder="tag" formControlName="tag" />

					<input class="indInput" formControlName="ind1" />

					<input class="indInput" formControlName="ind2" />

					<textarea
						class="subfieldsInput"
						placeholder="subfields"
						formControlName="subfields"
						rows="2"
					></textarea>
				</div>

				<div class="button-section">
					@if (this.searchMode902() === 'add902') {
						<button color="primary" (click)="createFieldIfNotFound()">
							{{ 'idrefSearch.addToRecord' | translate }}
						</button>
					} @else if (this.searchMode902() === 'update902') {
						<button color="primary" (click)="updateFieldIfFound()">
							{{ 'idrefSearch.updateRecord' | translate }}
						</button>
					}
					<button color="primary" (click)="hideTo902()">
						{{ 'idrefSearch.hideTo902' | translate }}
					</button>
				</div>
			</form>
		</div>
	</div>

