@if (facade.isInstitutionAllowed() && facade.hasCatalogerRole()) {
	<div class="eca-actions">
		<button
			mat-flat-button
			color="secondary"
			(click)="reset()"
			[disabled]="!facade.selectedEntity() || (loader.isLoading | async)"
		>
			<mat-icon>arrow_back</mat-icon>{{ 'main.resetButtonLabel' | translate }}
		</button>
	</div>

	@if (facade.entities()?.length && !facade.selectedEntity()) {
		<app-entity-list />
	} @else if (facade.selectedEntity()) {
		<app-entity-detail />
	} @else {
		<p>{{ 'main.noActiveRecordInMetadataEditor' | translate }}</p>
	}

	@if (loader.isLoading | async) {
		<div class="loading-shade">
			<mat-spinner
				diameter="50"
				[mode]="(loader.mode | async) ?? 'indeterminate'"
				[value]="loader.progress | async"
			></mat-spinner>
		</div>
	}
} @else {
	<p>{{ 'main.rightIssue' | translate }}</p>
}
