<h2>{{ 'idrefRecord.title' | translate }}</h2>
<form [formGroup]="searchForm" class="search-form">
	<div class="search-form__checkbox">
		<input type="checkbox" id="isStrictSearch" formControlName="isStrictSearch" (change)="onStrictSearchChange($event)"/>
		<label for="isStrictSearch">{{ 'idrefRecord.isStrictSearch' | translate }}</label>
	</div>
	<div class="search-form__inputs">
		<select class="searchIndex" formControlName="searchIndex">
			@for (indexLabel of searchIndexes.keys(); track indexLabel) {
				<option [value]="indexLabel">{{ indexLabel }}</option>
			}
		</select>
		<input placeholder="query" formControlName="constructedQuery" (keydown.enter)="onSearch()" />
		<mat-icon color="primary" fontIcon="search" (click)="onSearch()"></mat-icon>
	</div>
</form>

@if (idrefResult()) {
	<div class="idrefmarc">
		@if (numFound() > 0) {
			@for (doc of paginatedDocs(); track $index) {
				<div
					class="idrefmarc-row"
					[class.idrefmarc-row--active]="doc === selectedDoc"
					aria-hidden="true"
				>
					<div class="idrefmarc-column">
						<mat-icon color="primary" [svgIcon]="iconMap.get(doc.recordtype_z) ?? ''"></mat-icon>
					</div>
					<div class="idrefmarc-column">
						<span class="tag">{{ doc.ppn_z }}</span>
					</div>
					<div class="idrefmarc-column idrefmarc-column--main">
						<span class="value">{{ doc.affcourt_z }}</span>
					</div>
					<div class="idrefmarc-column idrefmarc-column--actions">
						<button color="primary" (click)="pushTobiblioRecordForm(doc); selectedDoc = doc">
							{{ 'idrefRecord.select' | translate }}
						</button>
						<button color="primary" (click)="showDetails(doc.ppn_z); selectedDoc = doc">
							{{ 'idrefRecord.view' | translate }}
						</button>
					</div>
				</div>
			}

			<mat-paginator [length]="docs().length" [pageSize]="pageSize()" aria-label="Select page">
			</mat-paginator
			><!-- Pour traduire les libellés des boutons du paginator, une classe CSS dédiée est nécessaire. -->
		} @else {
			{{ 'idrefRecord.noIdrefAuthority' | translate }}
		}
	</div>
} @else {
	<p>{{ 'idrefRecord.NoCurrentSearch' | translate }}</p>
}
