@if (selectedEntity()) {
  <!-- CONTENEUR QUI GÈRE LE MODE COLONNES -->
  <div class="records-grid">
    <div class="records-column">
      <app-biblio-record [selectedEntity]="selectedEntity()"></app-biblio-record>
    </div>

    <div class="records-column">
      <app-idref-record></app-idref-record>
    </div>

	<div class="records-column">
      <app-idref-entry-details></app-idref-entry-details>
    </div>


    <!-- tu peux en ajouter d'autres si besoin -->
    <!--
    <div class="records-column">
      <app-yet-another-record></app-yet-another-record>
    </div>
    -->
  </div>
}
