<div class="idrefmarc">
	<h2>idref search</h2>
	
  @if (idrefResult()) {
    @if (numFound() > 0) {

      @for (doc of paginatedDocs(); track $index) {
        <div class="idrefmarc-row">
          <div class="idrefmarc-column">
            <span class="tag">{{ doc.ppn_z }}</span>
          </div>
          <div class="idrefmarc-column">
            <span class="value">{{ doc.affcourt_z }}</span>
          </div>
        </div>
      }

      <mat-paginator
        [length]="docs().length"  
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 50, 100]"
        aria-label="Select page">
      </mat-paginator>

    } @else {
      {{ 'main.noIdrefAuthority' | translate }}
    }
  }
</div>